body{
    background-color: gold;
  }
  #game{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  #score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;
  }
  .active {
    background-color: rgba(red, green, blue, 0.4);
  }
                                  /* BUTTON */
  button {
      position: absolute;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      color: #555;
      background: none;
      border: none;
      font-family: Lato;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 300;
      transition: background-color 0.3s, color 0.3s;
  }
  .btn-new { top: 50px;}
  .btn-roll { top: 400px;}
  .btn-hold { top: 450px;}
  
  button:hover{
    cursor: pointer;
    color: red;
  }
                                /*de change*/
  .dice{
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
  }
                              /*joueur*/
  
  .player1{
    width: 50vw;
    text-align: center;
  }
  .player2{
    width: 50vw;
    text-align: center;
  }
  
  #box1, #box2{
  
    width: 100px;
    height: 100px;
    border : 2px solid black;
    margin: 20px auto;
    padding: 25px;
  }
  